use Mix.Config

# In this file, we keep production configuration that
# you'll likely want to automate and keep away from
# your version control system.
#
# You should document the content of this
# file or create a script for recreating it, since it's
# kept out of version control and might be hard to recover
# or recreate for your teammates (or yourself later on).
# config :deploy_template, DeployTemplateWeb.Endpoint,
#   secret_key_base: "9ZyPSOdk3vc/8GM8OK7Y5rMGxHlRU6MYvoxEQkO8qjb1xm9gGSO3rzYGVzWNP+0c"

# Configure your database
config :deploy_template, DeployTemplate.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "{{ elixir_release_name_code }}",
  password: "{{ db_pass }}",
  database: "{{ elixir_release_name_code }}_prod",
  hostname: "localhost",
  pool_size: 15
