#!/usr/bin/env bash

# Get remote console on app
# This needs to be run under the app user account

# Exit on errors
set -e
# set -o errexit -o xtrace

CURDIR="$PWD"
BINDIR=$(dirname "$0")
cd "$BINDIR"; BINDIR="$PWD"; cd "$CURDIR"

BASEDIR="$BINDIR/.."
cd "$BASEDIR/current"

export MIX_ENV="{{ elixir_release_mix_env }}"
export RELEASE_MUTABLE_DIR="{{ elixir_release_mutable_dir }}"

{% if elixir_release_conform_conf_path is defined %}
export CONFORM_CONF_PATH="{{ elixir_release_conform_conf_path }}"
{% endif %}

"{{ elixir_release_deploy_dir }}/current/bin/{{ elixir_release_name_code }}" remote_console
